:root{
    --headerbg: #f5f5f5;
    --subheaderbg: #ffffff;
    --bodybg: #fff8f7;
    --buttonbg: #e10000;
    --buttonhoverbg: #7a0000;
    --footerbg: #171717;
    --subfooterbg: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
ul li{
    list-style: none;
}
.mainheader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--headerbg);
    padding: 10px;
    
    height: 60px;
}
header ul{
    display: flex;
}
header h2{
    font-size: 20px;
}
header h2 span{
    font-weight: 400;
}
header li{
    margin: 0 8px;
    
}

.mainheader button{
    padding: 2px;
    margin: 0 5px;
    border: none;
}

/* SUB HEADER CSS */
.subheader{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    height: 60PX;
    background: #f5f2f2;
    align-items: baseline;
    

}
.subheader button{
   margin: 0 5px;
   background: var(--buttonbg);
   padding: 5px 10px;
   border: none;
   border-radius: 17px;
   color: var(--subheaderbg);
   letter-spacing: 1px;
}
#btn{
    background: var(--subheaderbg);
    border: 2px solid #e10000;
    color: #e10000;
}


/* footer  */

#section1{
    background: var(--footerbg);
    color: var(--subheaderbg);
    display: grid; 
    grid-template-columns: repeat(11,1fr);
    padding: 48px;
   
}

.div2{
    grid-column: 1 / span 3
}
.div2{
    display: grid;
    grid-column: 4 / span 8;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

#section2{
    background: #000000;
    color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#section2 a{
    padding-right: 10px;
   
    margin-right: 10px;
}

